@font-face {
    font-family: gameBoy;
    src: url("gb.ttf");
}
body {
    text-align: center;
    background-image: url("img/bck.gif");
    background-repeat: repeat;
}

body h1 {
    color: white;
    font-family: gameBoy;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

#screen {
    display: block;
    margin: 0 auto;
    margin-top: 82px;
    border: 2px solid black;
}

#gb {
    display:block;
    margin: 0 auto;
    padding: 1px;
    margin-top: 50px;
    background-image: url("img/gb.jpg");
    background-size: 100%;
    width:350px;
    height:573px;
}